doctype html
html
  head
    title Chart Server :: Chart Server
    meta(charset='utf-8')
    block pagecss
    link(rel='stylesheet', href='/plugins/bootstrap-4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/plugins/fontawesome-4.7.0/font-awesome.css')
    link(rel='stylesheet', href='/css/style.css')

    block pagescript
    script(type='text/javascript', src='/plugins/jquery/jquery-3.4.1.min.js')
    script(type='text/javascript', src='/plugins/bootstrap-4.4.1/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/utils.js')
  body
    block content
